/*h1{
    color:black;
}
h2{
    color: blue;
}
p{
    color: brown;
}
button{
    color:blueviolet;
}
body{
    background-color:#ff0000;
}
button{
    background-color: green;
}*/
*{
    color: pink;
}
