p{
    text-align: center;
}
h1{
    text-align: center;
}
h1{
    text-align: right;
}
body{
    background-color: brown;
}
h1{
    color: blue;
}
h1{
    text-align: center;
}
button{
    text-align: end;
}
button{
    background-color: black;
}
button{
    color: aquamarine;
}