p{
    text-align: center;
}
/*
h1{
    text-align: center;
}
h1{
    text-align: right;
}*/
body{
    background-color: rgb(42, 165, 132);
}
/*
h1{
    color: black;
}
h1{
    text-align: center;
}*/
button{
    text-align: end;
}
button{
    background-color: black;
}
button{
    color: aquamarine;
}
input{
    background-color: white;
}
/*
h1{
    text-align:center;
    text-decoration: underline;
}*/
a{
    text-decoration: none;
}
/*#h1{
    font-weight: 100;
}
#h2{
    font-weight: 600;
}
#h3{
    font-weight: 300;
}
#h4{
    font-weight: 400;
}*/
#one{
    font-family: arial;
}